<h1>Hey! <img src="https://emojis.slackmojis.com/emojis/images/1586280906/8541/computercat.gif" width="30" />
  My name is {{name}}, nice to see you !</h1>

<h3>Things I code with</h3>

<p>
  {{#code_with_list}}
  {{{.}}}
  {{/code_with_list}}
  {{^code_with_list}}No code_with :({{/code_with_list}}
</p>

<p align="center">
  <a href="https://github.com/{{name}}">
    <img src="{{{github_readme_stats_url}}}" />
  </a>
</p>

<p>
  Today is <b>{{date}}</b> <br />
  My current city <b>{{city}}</b> weather is: <img src="{{city_weather_icon}}" width="20" /> <i>{{city_weather}}</i>
  <li>temperature : <b>{{city_temperature}} °C</b> , feels like  : <b>{{city_feels_like}} °C</b></br></li>
  <li>humidity    : <b>{{city_humidity}}%</b> , wind speed  : <b>{{wind_speed}} {{wind_speed_units}}</b></br></li>
  <li>sun rises at: <b>{{sun_rise}}</b> , sets at: <b>{{sun_set}}</b></li>
</p>

<p>Recent coding record</p>

<!--START_SECTION:waka-->
<!--END_SECTION:waka-->

<p align="right">
  <a href="https://github.com/{{name}}/{{name}}/actions">
    <img alt="{{git_action_main_publish_name}}"
      src="https://github.com/{{name}}/{{name}}/workflows/{{git_action_main_publish_name}}/badge.svg?branch={{branch}}">
  </a>
  {{#show_travis}}
  <a href="https://travis-ci.com/github/{{name}}/{{name}}">
    <img alt="travis-ci" src="https://api.travis-ci.com/{{name}}/{{name}}.svg?branch={{branch}}">
  </a>
  {{/show_travis}}
</p>